body {
	font-family: Arial, sans-serif;
	background-color: #f1f1f1;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}

.chat-container {
	width: 400px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.chat-header {
	background: #0078ff;
	color: white;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	position: sticky;
	top: 0;
}

.chat-messages {
	height: 400px;
	overflow-y: auto;
	padding: 10px;
	background: #f9f9f9;
	display: flex;
	flex-direction: column;
}

.message {
	margin: 5px 0;
	padding: 8px;
	border-radius: 5px;
	max-width: 80%;
}

.user {
	color: #000;
	align-self: flex-end;
	background: #F5F5F5;
}

.other {
	background: #ddd;
	color: #000;
	align-self: flex-start;
}

.chat-input {
	display: flex;
	border-top: 1px solid #ccc;
}

.chat-input input {
	flex: 1;
	padding: 10px;
	border: none;
	outline: none;
	font-size: 16px;
}

.chat-input button {
	padding: 10px 10px;
	background: #0078ff;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 16px;
}

.chat-input button:hover {
	background: #005fcc;
}

.chat-input .clear-btn {
	background: crimson !important;
}

#plusBtn {
	width: 30px;
	background: white;
	color: black;
	font-size: 30px;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
	border: none;
	outline: none;
	padding: 0 !important;
}

#plusBtn:hover {
	background-color: gray;
}

@media ( max-width :480px) {
	.chat-container {
		width: 100%;
		height: 100%
	}
}

#previewPopup {
	display: none;
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(3px);
	background: rgba(0, 0, 0, 0.4);
	z-index: 1000;
	justify-content: center;
	align-items: center;
}

#previewContent {
    width: 90%;
    height: 90%;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
}

#previewBox {
    width: 100%;
    height: 100%;
}

#closePreview {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 25px;
	border-radius: 20%;
	cursor: pointer;
	color: white;
	background:red
}

@keyframes fadeIn {
	from { transform:scale(0.9);opacity: 0;}
    to { transform: scale(1);opacity: 1;}
}