<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="chat.css">
<title>Chat Application</title>
</head>
<body>
	<div class="chat-container">
		<div class="chat-header">Chat Room</div>		
		<div id="chatBox" class="chat-messages"></div>
		<div id="selectedFile" class="selectedFile" stype="align-items: center;"></div>
		<div class="chat-input">
			<button class="clear-btn" onclick="clearMessage()">Clear</button>
			<input type="text" id="messageInput" placeholder="Type a message...">
			<button id="plusBtn" onclick="openFilePicker()">+</button>
			<input type="file" id="fileInput" style="display:none" onchange="showLocalPreview()">
			<button onclick="sendMessage()">Send</button>
		</div>
	</div>
	<div id="previewPopup" onclick="closePopup(event)">
		<div id="previewContent">
			<span id="closePreview" onclick="hidePopup()">✖</span>
			<div id="previewBox"></div>
		</div>
	</div>
	<script src="chat.js"></script>
</body>
</html>